# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask-related files
instance/
.webassets-cache

# Environment variables
.env

# Virtual environment
env/

# Package files
*.egg-info
dist/
build/
*.egg
*.tar.gz
*.whl

# Python-related files
*.log
*.log.*
*.log-*
*.log-*.gz
*.log-*.zip
*.log-*.bz2

# SQLite database
*.sqlite
